.main {
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.container__main {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container__marks {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.style__btn {
    border: none;
    outline: none;
    background-color: inherit;
    width: 18px;
    height: 21px;
    transition: background-image .2s;
}

.prev {
    composes: style__btn;
    background-image: url("../../images/prev.png");

}

.prev:hover {
    background-image: url("../../images/prev-hover.png");
    cursor: pointer;
}

.marks {
    margin: 0 20px;
}

.next {
    composes: style__btn;
    background-image: url("../../images/next.png");
}

.next:hover {
    background-image: url("../../images/next-hover.png");
    cursor: pointer;
}

.border {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    margin-top: 20px;
}

.container__calendar {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box__day {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square {
    width: 38px;
    height: 38px;
    background-color: rgba(217, 217, 217, .25);
    text-align: center;
}

.square p {
    padding-top: 8px;
}

.circle {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gradient1 {
    background-image: linear-gradient(#1FC5F5, #C6DB26);
}

.gradient2 {
    background-image: linear-gradient(#E16A77, #C6DB26);
}

.gradient3 {
    background-image: linear-gradient(#1FC5F5, #EE8362);
}

.gradient4 {
    background-image: linear-gradient(#E16A77, #A55977);
}

.gradient5 {
    background-image: linear-gradient(#1FC5F5, #9862AE);
}

.gradient6 {
    background-image: linear-gradient(#E6D94D, #EE8362);
}

.gradient7 {
    background-image: linear-gradient(#E6D94D, #A55977);
}

.little__circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #5F2B70;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.month {

}

.container__filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 0 30px;
}

.filter__text {
    font-size: 20px;
    color: #B996D7;
    margin-right: 30px;
}

.filter {

}

/*.filter__list {*/
/*    composes: input size__big from '../inpytStyle/InputStyle.module.css';*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    appearance: none; !* Убирает стандартную стрелку в большинстве браузеров *!*/
/*    -webkit-appearance: none; !* Для WebKit-браузеров *!*/
/*    -moz-appearance: none; !* Для Firefox *!*/
/*    background: url('../../images/arrow-list2.svg') no-repeat right 20px center; !* Путь к вашему изображению стрелки *!*/
/*}*/