.logo {
    width: 80px;
    height: 70px;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .logo {
        width: 70px;
        height: 60px;
        background-size: 60px;
    }
}

@media screen and (max-width: 650px) {
    .logo {
        display: none;
    }
}