.btn {
    color: #B996D7;
    font-size: 14px;
    text-decoration: underline solid #ffffff;
    text-underline-offset: 7px;
    border: none;
    outline: none;
    background-color: inherit;
    transition: color .2s;
}

.btn:hover {
    color: #ffffff;
    cursor: pointer;
}