.box__day {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month {
    color: rgba(250, 250, 250, .7);
    font-size: 14px;
}

.square {
    width: 40px;
    height: 40px;
    background-color: rgba(217, 217, 217, .25);
    text-align: center;
    border-radius: 10px;
}

.off__square {
    background-color: rgba(217, 217, 217, .5);
}

.mark__square {
    background-color: #E16A77;
}

.square p {
    padding-top: 8px;
}

.circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 6px #393939;
}

.gradient1 {
    background-image: linear-gradient(#1FC5F5, #C6DB26);
}

.gradient2 {
    background-image: linear-gradient(#E16A77, #C6DB26);
}

.gradient3 {
    background-image: linear-gradient(#1FC5F5, #EE8362);
}

.gradient4 {
    background-image: linear-gradient(#E16A77, #A55977);
}

.gradient5 {
    background-image: linear-gradient(#1FC5F5, #9862AE);
}

.gradient6 {
    background-image: linear-gradient(#E6D94D, #EE8362);
}

.gradient7 {
    background-image: linear-gradient(#E6D94D, #A55977);
}

.little__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5F2B70;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box__circle {
    position: relative;
    padding: 0 10px;

}

.mark__circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
    margin: 15px 5px;
}

.mark__circle::after {
    content: attr(data-tooltip); /* Получаем текст `tooltip` из `data-tooltip` атрибута */
    position: relative;
    bottom: 90%; /* Позиционируем `tooltip` сверху */
    right: 100%;
    transform: translateX(-50%);
    background-color: rgba(250, 250, 250, .1);
    color: #bfbfbf;
    padding: 3px;
    border-radius: 4px;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.2s;
    font-size: 12px;
}

.mark__circle:hover::after {
    opacity: 1; /* Показ `tooltip` при наведении */
}

.mark__circle:hover + .mark__circle_close {
    display: inline-block;
}

.mark__circle_close {
    display: none;
    width: 10px;
    height: 10px;
    background-image: url("../../images/close-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    position: absolute;
    bottom: 11px;
    right: 15px;
    cursor: pointer;
}

/*.mark__circle_close {*/
/*    display: none; !* Скрыто по умолчанию *!*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    background: red;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border-radius: 50%;*/
/*}*/

/*.mark__circle:hover + .mark__circle_close {*/
/*    display: block; !* Показывается при наведении *!*/
/*}*/