.header {
    width: 80%;
    height: 100px;
    padding: 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo:first-child {
    margin-right: 80px;
}

.box__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}