.subtitle {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

.subtitle p:first-child {
    margin-left: 80px;
}

.text {
    color: #B996D7;
    font-size: 20px;
}

.title {
    font-size: 40px;
    color: #B996D7;
    line-height: 45px;
}