.subtitle {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
}

/*.subtitle p:first-child {*/
/*    margin-left: 10px;*/
/*}*/

.text {
    color: #B996D7;
    font-size: 14px;
}

.title {
    font-size: 30px;
    color: #B996D7;
    line-height: 45px;
    flex: 1;
    text-align: center;
    margin-right: 70px;
}