/* Контейнер для чекбокса */
.checkbox__container {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

/* Скрываем стандартный чекбокс */
.checkbox__container input[type="checkbox"] {
  display: none;
}

/* Стиль для кастомного чекбокса */
.check__mark {
  width: 30px;
  height: 30px;
  background: rgba(215, 215, 215, 0.3);
  position: relative;
  transition: background-color 0.3s;
  border-radius: 50%;
}

/* Иконка галочки */
.check__mark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 3px;
  width: 9px;
  height: 16px;
  border: solid #9AF915;
  border-width: 0 2px 2px 0;
  transform: rotate(40deg);
}

/* Показываем галочку, если чекбокс выбран */
.checkbox__container input[type="checkbox"]:checked + .check__mark::after {
  display: block;
}

.check__mark:hover {
  box-shadow: 0 0 5px #3D1B62;
}