.edit__tracker {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.header {
    width: 95%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-right: 40px;
}

.container__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit__form {
    width: 500px;
    flex: 1;
    margin: 20px 0;
    text-align: center;
    position: relative;
}

.container__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title__input {
    color: #B996D7;
    font-size: 20px;
}

.box__input {
    display: flex;
    flex-direction: column;
}

.position {
    position: relative;
}

.label {
    color: #FF243C;
    font-size: 12px;
}

.container__color2 {
    width: 220px;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 7px 15px 7px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.btn__circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.btn__mark {
    width: 16px;
    height: 12px;
    background-image: url("../../../images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__mark:hover {
    cursor: pointer;
    transition: background-image 0.3s;
    background-image: url("../../../images/arrow-hover.svg");
}

.btn__mark_close {
    composes: btn__mark;
    background-image: url("../../../images/arrow-open.svg");
}

.btn__mark_close:hover {
    cursor: pointer;
    transition: background-image 0.3s;
    background-image: url("../../../images/arrow-open-hover.svg");
}

.container__arrow {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: absolute;
    top: 8px;
    right: 17px;
}

.check__display::after {
    content: "";
    position: absolute;
    display: block;
    right: 18px;
    top: 8px;
    width: 13px;
    height: 13px;
    border: solid rgba(215, 215, 215, 0.5);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.gradient__border {
    width: 160px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: inherit;
    border-radius: 50px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

/* Создаем градиентный бордер через псевдоэлемент */
.gradient__border::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    padding: 3px; /* Ширина градиентного бордера */
    background: linear-gradient(90deg, #E16A77, #E6D94D, #1FC5F5, #A55977);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1; /* Помещаем градиент за кнопкой */
}

.gradient__border:hover {
    box-shadow: 0 0 8px #3D1B62;
}

.gradient__border:active {
    box-shadow: inset 0 0 8px #3D1B62;
}

.container__buttons {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 40px;
}

.modal__colors {
    width: 250px;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #3D1B62;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 180px;
    right: 270px;
    z-index: 2;
}

.list__colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.circle__color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.save__tracker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 20px;
}

.show__color {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 10px;
}